@use "../../abstract" as var;

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  margin-right: auto;
}

.header--green {
  background-color: var.$brand-primary;
}
