@use "../../abstract" as var;

.phone__link {
  display: block;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: var.$brand-white;
}

.phone__text {
  font-size: 13px;
  font-weight: 300;
}
